.containerNav{
  background-color: #344e41; 
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.7);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;

  font-family: 'Lexend Deca';
}

.unorderList{
  display: flex;
}

.unorderList li {
  color: rgb(255, 254, 254);
  font-weight: bold;
  text-decoration: none;
  padding-left: 20px;
  
  display: flex;
  justify-content: flex-end;
}

.link {
  text-decoration: none;
}

.unorderList li:hover{
  color: #a3b18a;
}