/* .principalContainer{
  height: 100vh;
  background-image: url("./assets/fondo5.png");
  background-size: cover;
  
} */


.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: white; */
  font-family: 'Roboto Mono';
  font-weight: bold;
  background-color: #FAEA5F;
  position: fixed;
}


