.container{
  background-image: url('../../assets/fondo1.png');
  background-size: cover;
  height: 100vh;


  display: flex;
  justify-content: center;
  align-items: center;
  
}

.imagenLogo{
  width: 400px;
  height: 150px;
  padding-top: 20px;
  padding-bottom: 20px;

  filter: brightness(1.1);
  mix-blend-mode: multiply;
  
}


.containerLogin {
  background-color: #ffffffc0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;

  width: 370px;
  height: 440px;

  font-family: 'Lexend Deca';
  font-weight: bold;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
  
}

.labelEmail {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  color: #000000;
  
}

.labelEmail input{
  width:320px;
  height: 30px;
  border: 2px solid #3a5a40;
  border-radius: 5px;
  outline: none;
  font-size: .9rem;
  font-family: 'Lexend Deca';
  padding-left: 3px;
  background-color: #a3b18a;

}

.labelEmail input::placeholder{
  color: white;
  text-align: center;
}

.labelEmail span{
  font-size: .8rem;
  color:#fa0707;
}

.labelPassword {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border: none;
  
}

.labelPassword input{
  width: 320px;
  height: 30px;
  border: 2px solid #3a5a40;
  border-radius: 5px;
  outline: none;
  font-size: .9rem;
  font-family: 'Lexend Deca';
  padding-left: 3px;
  background-color: #a3b18a;
}

.labelPassword input::placeholder{
  color: white;
  text-align: center;
}

.labelPassword span{
  font-size: .8rem;
  color:#fa0707;
}

.buttonLogin{
  background-color: #3a5a40;
  padding: 10px 145px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;

  font-family: 'Lexend Deca';
  font-weight: bold;
}

.buttonLogin:hover{
  background-color: #4f744f;
}