@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Inter:wght@500&family=Roboto+Mono:wght@300&display=swap');


.containerCard{
  background-color: white;
  font-family: 'Roboto Mono';
  font-weight: 500;
  border-radius: 10px;
  border: 3px solid black;
  height: 460px;
  width: 270px;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card button{
  position: absolute;
  top: 155px;
  margin-left: 9px;
  margin-top: 9px;

  padding: 5px 8px;
  font-weight: bold;

  border: 2px solid #d1d1d1;
  border-radius: 50%;
  background-color: #d1d1d1;
  cursor: pointer;

}

.card button:hover {
  border: 2px solid black;
  position: absolute;
  top: 155px;
  margin-left: 9px;
  margin-top: 9px;

  padding: 5px 8px;
  font-weight: bold;

}

.card h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 1.3em;
}

.card img{
  height: 250px;
  width: auto;
  border-bottom: 3px solid black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  padding: 20px;

  background-color: #d1d1d1;
  height: 13vh;
}

.info p{
  margin: 0;
  font-size: .9em;
  font-weight: 600;
}

.link {
  text-decoration: none;
}