.containerNav{
  background-color: #FAEA5F; 
  /* #2df7ad */
  /* opacity: .8; */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;

  font-family: 'Roboto Mono';
}

.unorderList{
  display: flex;
}


.unorderList li {
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding-left: 20px;
  /* list-style: none; */
  
  display: flex;
  justify-content: flex-end;
}

.link {
  text-decoration: none;
}

.unorderList li:hover{
  color: rgb(255, 123, 0);
}