.containerSearch input{
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none; 
  font-family: 'Lexend Deca';
}

.containerSearch button{
  display: inline-block;
  padding: .6em;
  margin-left: .5em;
  border: 0.16em solid rgba(255, 255, 255, 0);
  background-color: #588157;
  border-radius: 5px;

  
  font-family: 'Lexend Deca';
  font-weight: bold;
  color: #ffffff;
  transition: all 0.2s;
  cursor: pointer;
}

.containerSearch button:hover {
  border-color: #ffffff;
}
